In [1]:
import os
cwd = os.getcwd()
print('Current Working Directory is: ', cwd)
absolute_path = 'C:/Users/ok/Desktop/Python'
os.chdir(absolute_path)
print('New working directory is: ', os.getcwd())

Current Working Directory is:  C:\Users\ok\AppData\Local\Programs\Microsoft VS Code
New working directory is:  C:\Users\ok\Desktop\Python

In [10]:
import pandas as pd
import numpy as np

#empty series

my_series = pd.Series()
print(my_series)

Series([], dtype: float64)

C:\Users\ok\AppData\Local\Temp/ipykernel_15924/968699351.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  my_series = pd.Series()

In [11]:
#creating series 
my_array = np.array([10, 20, 30, 40, 50])
my_series = pd.Series(my_array)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [12]:
#creating series with scalar
my_array = np.array([10, 20, 30, 40, 50])
my_series = pd.Series(my_array, index = ["num1", "num2", "num3", "num4",
"num5"])
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int32

In [13]:
my_series = pd.Series([10, 20, 30, 40, 50], index = ["num1", "num2",
"num3", "num4", "num5"])
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int64

In [14]:
my_series = pd.Series(25, index = ["num1", "num2", "num3", "num4",
"num5"])
print(my_series)

num1    25
num2    25
num3    25
num4    25
num5    25
dtype: int64

In [20]:
my_dict = {'num1' :6,'num2' :7,'num3' :8}
my_series = pd.Series(my_dict)
print(my_series)
print(my_series[1])
print(np.min(my_series))
print(np.max(my_series))
print(my_series.mean())
print(my_series.median())
print(my_series.dtype)

num1    6
num2    7
num3    8
dtype: int64
7
6
8
7.0
7.0
int64

In [21]:
my_series = pd.Series([5, 8, 2, 11, 9])
print(my_series.tolist())

[5, 8, 2, 11, 9]

In [22]:
my_df = pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

In [28]:
#Creating dataframe
Grade = [['Mathematics',80],['Physics', 60], ['Chemistry', 45], ['Biology', 20]]
my_df = pd.DataFrame(Grade, columns = ['Subject', 'Score'])
my_df

       Subject  Score
0  Mathematics     80
1      Physics     60
2    Chemistry     45
3      Biology     20

In [29]:
# dataframe using list of dictionaries

scores = [
{'Subject':'Mathematics', 'Score':85},
{'Subject':'History', 'Score':98},
{'Subject':'English', 'Score':76},
{'Subject':'Science', 'Score':72},
{'Subject':'Arts', 'Score':95},
]
my_df = pd.DataFrame(scores)
my_df

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3      Science     72
4         Arts     95

In [30]:
# dataframe using dictionaries
scores = {'Subject':["Mathematics", "History", "English", "Science", "Arts"],
'Score':[98, 75, 68, 82, 99]
}
my_df = pd.DataFrame(scores)
my_df

       Subject  Score
0  Mathematics     98
1      History     75
2      English     68
3      Science     82
4         Arts     99

In [33]:
# dataframe using list of dictionaries
# with null items

scores = [
{'Subject':'Mathematics', 'Score':85},
{'Subject':'History', 'Score':98},
{'Subject':'English', 'Score':76},
{'Score':72},
{'Subject':'Arts', 'Score':95},
]
my_df = pd.DataFrame(scores)
my_df

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3          NaN     72
4         Arts     95

In [34]:
# viewing header
scores = [
{'Subject':'Mathematics', 'Score':85},
{'Subject':'History', 'Score':98},
{'Subject':'English', 'Score':76},
{'Subject':'Science', 'Score':72},
{'Subject':'Arts', 'Score':95},
]
my_df = pd.DataFrame(scores)
my_df.head(2)

       Subject  Score
0  Mathematics     85
1      History     98

In [35]:
# gettingdataframe info
my_df = pd.DataFrame(scores)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  5 non-null      object
 1   Score    5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [36]:
# getting info about numeric columns
my_df = pd.DataFrame(scores)
my_df.describe()

           Score
count   5.000000
mean   85.200000
std    11.388591
min    72.000000
25%    76.000000
50%    85.000000
75%    95.000000
max    98.000000